@import './../../variables';

.cities{
    @include col-ct();
    padding: 3em 2em 1em;
    h1{
        color: $black-txt;
        font-weight: 700;
        margin-bottom: 0.4em;
        font-size: 2em;
    }
    p{
        color: $black-txt;
        font-style: italic;
        font-weight: 100;
    }
    .cities-list{
        @include row-ar();
        padding: 4em 0;
        width: 60%;
        max-width: 790px;
    }
}