// Body
$body-bg: #f8fafc;


// Colors

$green: #55efc4;
$green2: #64d2b3;
$black-txt: rgb(55,55,55);

@mixin row-bt(){
	display: flex;
	flex-flow:wrap row;
	justify-content:space-between;
	align-items:center;
}

@mixin row-ct(){
	display: flex;
	flex-flow:wrap row;
	justify-content:center;
	align-items:center;
}

@mixin row-st(){
	display: flex;
	flex-flow:wrap row;
	justify-content:flex-start;
	align-items:center;
}

@mixin col-ct(){
	display: flex;
	flex-flow:wrap column;
	justify-content:center;
	align-items:center;
}

@mixin col-end(){
	display: flex;
	flex-flow:wrap column;
	justify-content:center;
	align-items: flex-end;
}

@mixin col-st(){
	display: flex;
	flex-flow:wrap column;
	justify-content:center;
	align-items: flex-start;
}

@mixin row-ar(){
	display: flex;
	flex-flow:wrap row;
	justify-content:space-around;
	align-items:center;
}

.city{
	@include col-ct();
	padding: 1em 1.5em;
	border-radius: 10px;
	transition: all .2s ease-out;
	background: #55efc4;
	box-shadow: 1px 3px 11px 1px #bebebe;
	&:hover{
		background: $green2;
	}
	span{
		color: white;
		font-size: 3em;
		margin-bottom: 0.5em;
	}
	.city-name{
		color: white;
		font-size: 1em;
		font-weight: 700;
		transition: all .2s ease-out;
	}
}

.cold{
    background: linear-gradient(60deg, rgba(33, 150, 243, 0.75) 15%, rgba(0, 150, 136, 0.75));
}

.normal{
	background: linear-gradient(60deg, rgba(58, 227, 116,0.75) 15%, rgba(248, 194, 145,0.35));
}

.hot{
	background: linear-gradient(60deg, rgba(255, 94, 87,0.75) 15%, rgba(255, 168, 1,0.75));
}